@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Abril Fatface', cursive;;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 180px;
    height: 180px;
    position: relative;
    left: -65px;
    top: -55px;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    top: -68px;
 
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
   

}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #E6933B;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90px;
    color: #fff;
    position: absolute;
    top: 48%;
    left: 7%;
    transform: translate(-20%,-20%);
}
.text-box h1{
    font-size: 38px;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
}
.text-box p{
    white-space: nowrap;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.hero-btn{
    white-space: nowrap;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #E6933B;
    background:  #E6933B;
    transition: 1s;

}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links{
        position: absolute;
        background:  #E6933B;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -2 00;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
/*------course------*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    position: relative;
    top: -55px;

}
 .course h1{
    border-top: 3px solid #E6933B;
    width: 86px;
    position: relative;
    left: -50px;
    font-family: 'Roboto', sans-serif;

    
}
img{
    width: 300px;
    margin: 30px;
}
.portfolio{
   width: 55px;
   padding: 20px;
   margin: 10px auto;
   display:inline-flex;
   flex-direction: row;
   justify-content: center;
  
   

 }
    
    
 .imgs{
    box-shadow: 0 0 0px 0px rgba(0,0,0,0.1);
     transition: 0.5s;
 }
 
 .imgs img{
     border-radius: 1px;
 }
 .imgs:hover{
     transform: scale(1.2);
     z-index: 2;
     
 }
 /*-----SKETCH YOUR SPACE------*/
     .backsketch{
     background: url(images/gris.png);
     height: 290px;
     width: 850px;
     position: relative;
     left: 20%;
    }

 
 .sketch{
    

     width: 80%;
     margin: auto;
     position: relative;
     left: 5%;
     bottom: -20%;
     color: white;
  
    
 }
 
 
 .sketchimg {
     width: 40%;
     position: relative;
     left: 5%;
     float: left;
     top: 13px;
     
 }

.sketch h1 {
    font-size: 24px;
    font-family:'Roboto', sans-serif ;
}
.sketch p{
    font-size: 12px;
    font-family:'Roboto', sans-serif ;
   
}
.viewbtn{
    white-space: nowrap;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.viewbtn:hover{
    border: 1px solid #E6933B;
    background:  #E6933B;
    transition: 1s;

}
/*------news------*/
.news{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;

}
.abouthome{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.abouthome-col{
    flex-basis: 31%;
  
  
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.paragraphe{
    text-align: justify;
}
.news h1{
    white-space: nowrap;
    border-top: 3px solid #E6933B;
    width: 86px;
    position: relative;
    left: -50px;
    font-family: 'Roboto', sans-serif;
}
.fas{
  font-size:25px;
  position: relative;
  left: -47%;
 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}

.footer{
    background-color:#2A2A2c ;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    border-top: 3px solid #E6933B;
    width: 50px;
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{

    counter-reset: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #E6933B;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom :10px ;

}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#ffffff ;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;

}
.footer-col ul li a:hover{
    color:#ffffff ;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 50px;
    
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#ffffff ;
    transition: all 0.5 ease;
}
.footer-col .social-links a:hover{
    color: #E6933B;
    
}